/* This file is for your main application css. */

.card {
    width: 50px;
    height: 100px;
    border-radius: 2px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}

.available-cards {
    display: flex;
}